<!-- LIST VIEW -->
<table class="simple list-view">
	<thead>
		<tr>
			<th></th>
			<th translate="FM.NAME">Name</th>
			<th hide show-gt-sm translate="FM.TYPE">Type</th>
			<th hide-xs translate="FM.OWNER">Owner</th>
			<th hide-xs translate="FM.SIZE">Size</th>
			<th hide show-gt-md translate="FM.LAST_MODIFIED">Last Modified</th>
			<th hide-gt-md></th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="folder in vm.folders | filter:global.search" 
			ng-class="{'selected' : vm.selected === folder}"
			ng-class="{'selected' : vm.selected === file}"
			ng-click='vm.select(folder);vm.openCategory(folder)'
			ng-init='folder.icon = "icon-folder";folder.type = "folder"'>
			<td class="file-icon">
				<i class="icon-{{folder.type}}"></i>
			</td>
			<td class="name">{{folder.name}}</td>
			<td class="type" hide show-gt-sm>{{folder.type}}</td>
			<td class="owner" hide-xs>{{folder.owner}}</td>
			<td class="size" hide-xs>{{folder.size === '' ? '-': folder.size}}</td>
			<td class="last-modified" hide show-gt-md>{{folder.modified}}</td>
			<td>
				<div class="actions" layout="row" layout-align="start center">
					<md-menu>
						<md-button class="md-icon-button" aria-label="More" >
							<md-icon md-font-icon="icon-dots-vertical" ng-click="$mdOpenMenu($event)"></md-icon>
						</md-button>

						<md-menu-content width="3">

							<md-menu-item>
								<md-button ng-click="vm.remove(folder, key, 'folders')">
									Delete
								</md-button>
							</md-menu-item>

							<md-menu-item>
								<md-button ng-click="vm.update(folder, key, 'folders')">
									Edit
								</md-button>
							</md-menu-item>

						</md-menu-content>
					</md-menu>

				</div>
			</td>
		</tr>

		<tr ng-repeat="file in vm.files | filter:global.search" 
			ng-click="vm.select(file)" 
			ng-class="{'selected' : vm.selected === file}"
			ng-init='file.icon = (file.doc_filename | icon);file.type = (file.doc_filename | extname)'>
			<td class="file-icon">
				<i class="{{file.doc_filename | icon}}"></i>
			</td>
			<td class="name">{{file.title}}</td>
			<td class="type" hide show-gt-sm>{{file.doc_filename | extname}}</td>
			<td class="owner" hide-xs>{{file.owner}}</td>
			<td class="size" hide-xs>{{file.size === '' ? '-': file.size}}</td>
			<td class="last-modified" hide show-gt-md>{{file.modified}}</td>
			<td>
				<div class="actions" layout="row" layout-align="start center">
					<md-menu>
						<md-button class="md-icon-button" aria-label="More" >
							<md-icon md-font-icon="icon-dots-vertical" ng-click="$mdOpenMenu($event)"></md-icon>
						</md-button>

						<md-menu-content width="3">

							<md-menu-item>
								<md-button ng-click="vm.remove(file, key, 'files')">
									Delete
								</md-button>
							</md-menu-item>

							<md-menu-item>
								<md-button ng-click="vm.update(file, key, 'files')">
									Edit
								</md-button>
							</md-menu-item>

						</md-menu-content>
					</md-menu>

				</div>
			</td>
		</tr>
	</tbody>
</table>
<!-- / LIST VIEW -->